*{
    padding: 0;
    margin: 0;
}

body{
    background: #222;
    font-family: sans-serif;
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background-color: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background-color: #000;
    transform: scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background-color: #ff0000d7;
    padding: 5px 3px;
    border-radius: 4px;
    color: #fff;
}
#total::before{
    content: 'total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #390045;
    color: #fff;
    border-radius: 20px;
    transition: 0.5s;
}
button:hover{
    background: #510273;
    letter-spacing: 1px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0; 
    color: #fff;
}
table th{
    text-transform: uppercase;

}
table td{
    padding: 5px;
}
#deleteAll{
    margin: 5px 0;
}
